
* {
    box-sizing: border-box;
}

body {
    background-color: #445760;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Oxygen", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header{
    margin-bottom: 5rem;
    font-family: inherit;
    transition: all 1.4s;
}
.header:hover{
    transform: scale(-1.05);
    transform: rotate(600deg);
}
.pw-container {
    background-color: #425B60;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    border-radius: 25px;
    transition: all .5s;
}
.pw-container:hover{
    transform: scale(1.05);
}
.pw-header {
    padding: 1rem;
}

.pw {
    background-color: #445760;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
    border-radius: 25px;
}
.pw button {
    background-color: white;
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: .5rem 0.25rem ;
    position: absolute;
    top: 20px;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    border-radius: 10px;
}
.pw:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}
.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}
.generate {
    background-color: #445760;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    border-radius: 20px;
    transition: all .4s;
}
.generate:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}